@import "./var.scss";
@import './navbar.scss';

@import './light.scss';
@import './dark.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;

  .content {
    width: 70vw;
    margin: auto;
    padding: 20px;

    .title {
      padding-bottom: 20px;
      font-size: 2rem;
      font-weight: 800;
    }
  }
}

.mb-4 {
  padding-bottom: 20px;
}