* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
}

.container-dark {
  color: #ece1e1;
  background-color: #252323;
}

.container-light {
  color: #252323;
  background-color: #ece1e1;
}